*.swp
*.iml
local.properties
build
bin
out
gen
obj
.idea
.settings
.directory
lint.xml
*.so
keystore
/chrome/vendor
build.xml
ant.properties
.gradle
build-tools_*.zip
gradle-*
.DS_Store
androidTest
test
signing.properties